<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Activation</title>
</head>
<body>
    <h1>Dear {{superadminName}},</h1>
    <p>The user <strong>{{userName}}</strong> with the role of <strong>{{userRole}}</strong> has been activated.</p>
    <p>Details:</p>
    <ul>
        <li>Name: {{userName}}</li>
        <li>Email: {{userEmail}}</li>
        <li>Mobile: {{userMobile}}</li>
    </ul>
    
</body>
</html>








